<div class="card card-body my-3">
    <app-alert-message *ngIf="activateAlert" [message]="messageAlert" [messageType]="messageType" (closeAlertEvent)="closeAlertEvent()"/>
    <form (ngSubmit)="onSubmit()" [formGroup]="personForm">
        <div class="form-group mb-3" *ngIf="isEdit">
            <input class="form-control" formControlName="id" type="text" placeholder="Id" readonly>
        </div>
        <div class="form-group mb-3">
            <input class="form-control" type="text" formControlName="names" placeholder="Nombres">
        </div>
        <div class="form-group mb-3">
            <input class="form-control" type="text" formControlName="lastname" placeholder="Apellidos">
        </div>
        <div class="form-group mb-3">
            <input class="form-control" formControlName="age" type="number" placeholder="Edad">
        </div>
        <div class="d-grid">
            <input type="submit" class="btn btn-primary" value="Guardar">
        </div>
    </form>
</div>